<div class="col-xs-6 col-xs-offset-3 text-center contentBox">
  <h3 class="timerTitle">
    Meditation Timer
  </h3>
  <p class="pageText">
    Meditation is an extremely valuable form of self-care that doesn't cost anything. If you've never meditated before, start with 2 minutes, then work your way up from there.
  </p>
  <div class="col-xs-2 col-xs-offset-5 text-center counterBox">
    {{ timer.counter / 60 | number:0 }}:{{ timer.counter % 60 }}
  </div>
  <br />
  <br />
  <button ng-click="timer.startTimer()" type="button" class="btn btn-md btn-danger timerBtn">Start</button>
  <button ng-click="timer.stopTimer()" type="button" class="btn btn-md btn-danger timerBtn">Reset</button>
</div>
