/* UI Bootstrap requirement */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}


/* Page */
body {
  padding-top: 80px;
  font-family: 'Raleway', sans-serif;
  color: #032225;
  background-color: rgba(238, 246, 247, 0.7);
  margin-bottom: 30px;
}
.pageText {
  font-size: 16px;
}
.contentBox {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  border: 1px solid #fff9b3;
}
.contentBoxTitle {
  color: #14818B;
  font-size: 35px;
}
.viewBox {
  margin-bottom: 30px;
}
a:link {
  color: #14818B;
}
a:hover {
  color: #F49A49;
  text-decoration: none;
}


/* Navbar */
.navigationBar {
  height: 70px;
  background-color: rgba(214, 233, 235, 0.9);
}
#navButton
{
  background-color: #F49A49;
  margin: 10px;
}
.navMenu {
  margin-left: 10px;
}
.navMenu li a:hover {
  background-color: #F49A49;
  color: #F3F8F9;
}


/* Title */
.pageTitle {
  color: #F49A49;
  letter-spacing: 4px;
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
}


/* Home */
.homeText {
  font-size: 16px;
  text-align: left;
}
.img-center {
  margin: 0 auto;
}
.explainText {
  font-size: 16px;
  text-align: justify;
}


/* Meditation Timer */
.counterBox {
  font-size: 25px;
  color: #14818B;
}
.timerBtn {
  margin-top: 10px;
}


/* Boost Somebody */
.boostButtonBox {
  margin-top: 10px;
}
.askBox {
  margin-top: 20px;
}
.askText {
  font-size: 16px;
  text-align: justify;
}
.boostBtn {
  margin-left: 5px;
}
.commentLabel {
  color: #F49A49;
  font-size: 22px;
  font-weight: bold;
}
.commentHelpText {
  font-size: 16px;
  color: #8c8c8c;
}
.commentBox {
  padding: 30px;
}


/* Inspire Me */
.quoteText {
  font-family: 'Amatic SC', cursive;
  color: #14818B;
  font-size: 40px;
  text-align: justify;
}
.quoteAuthor {
  text-align: right;
  margin-top: 20px;
}
.quoteBtn {
  margin-bottom: 40px;
}
.quoteNotes {
  font-size: 12px;
  text-align: left;
  margin-bottom: -20px;
}
